<h1>System Types</h1>

<table>
	<% @sys_t.each do  |s| %>
		<tr>
		<td><%= link_to s.system_type, system_type_path(s) %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add new system type", new_system_type_path %>
